<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        History


                        <div class="clearfix"></div>

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <div id="tabler_wrapper" class="dataTables_wrapper
                                form-inline dt-bootstrap no-footer"><div
                                    class="row"><div class="col-sm-6"><div
                                            class="dataTables_length"
                                            id="tabler_length"><label>Show
                                                <select name="tabler_length"
                                                    aria-controls="tabler"
                                                    class="form-control
                                                    input-sm"><option
                                                        value="10">10</option><option
                                                        value="25">25</option><option
                                                        value="50">50</option><option
                                                        value="100">100</option></select>
                                                entries</label></div></div><div
                                        class="col-sm-6"><div id="tabler_filter"
                                            class="dataTables_filter"><label>Search:
                                                <input type="search"
                                                    class="form-control
                                                    input-sm" placeholder=""
                                                    aria-controls="tabler"></label></div></div></div><div
                                    class="row"><div class="col-sm-12"><table
                                            class="table table-bordered
                                            datatable table-striped dataTable
                                            no-footer" id="tabler" role="grid"
                                            aria-describedby="tabler_info"
                                            style="width: 1075px;">
                                            <thead>
                                                <tr role="row"><td
                                                        class="sorting_asc"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Id: activate
                                                        to sort column
                                                        descending"
                                                        style="width: 14.2px;">Id</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Username:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        71.2px;">Username</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Name:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        52.2px;">Name</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Sub
                                                        Distributor: activate to
                                                        sort column ascending"
                                                        style="width: 93.2px;">Sub
                                                        Distributor</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Distributor:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        67.2px;">Distributor</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Credits:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        45.2px;">Credits</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Total Bet:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        55.2px;">Total Bet</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Total Win:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        58.2px;">Total Win</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Casino
                                                        Profit: activate to sort
                                                        column ascending"
                                                        style="width: 79.2px;">Casino
                                                        Profit</td><td
                                                        class="sorting"
                                                        tabindex="0"
                                                        aria-controls="tabler"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Actions:
                                                        activate to sort column
                                                        ascending" style="width:
                                                        152px;">Actions</td></tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row"
                                                    class="even">

                                                    <td class="sorting_1">4508</td>
                                                    <td><a
                                                            href="http://goldstar.fun/pmb/detail/4508">Sunil5050
                                                            <i class="fa
                                                                fa-eye"></i></a></td>
                                                    <td>Sunil5050</td>
                                                    <td>
                                                        Sai2
                                                    </td>
                                                    <td>Shree</td>
                                                    <td>0.00</td>
                                                    <td>131890.00</td>
                                                    <td>126090.00</td>
                                                    <td>5800</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a
                                                                href="http://goldstar.fun/pmb/edit/4508"
                                                                class="btn
                                                                btn-info
                                                                btn-sm">Edit</a>
                                                            <a
                                                                href="http://goldstar.fun/transfercredit/4508"
                                                                class="btn
                                                                btn-success
                                                                btn-sm"
                                                                title="Transfer
                                                                Credit"><i
                                                                    class="fa
                                                                    fa-caret-square-o-up"></i></a>
                                                            <a
                                                                href="http://goldstar.fun/adjustcredit/4508"
                                                                class="btn
                                                                btn-warning
                                                                btn-sm"
                                                                title="Adjust
                                                                Credit"><i
                                                                    class="fa
                                                                    fa-caret-square-o-down"></i></a>
                                                            <a
                                                                href="http://goldstar.fun/player_history/4508"
                                                                class="btn
                                                                btn-default
                                                                btn-sm"
                                                                title="Player
                                                                History"><i
                                                                    class="fa
                                                                    fa-history"></i></a>
                                                            <a
                                                                href="http://goldstar.fun/banuser/4508/1"
                                                                class="btn
                                                                btn-success
                                                                btn-sm"
                                                                title="Ban
                                                                User"><i
                                                                    class="fa
                                                                    fa-ban"></i></a>
                                                        </div>

                                                    </td>
                                                </tr></tbody>
                                        </table></div></div><div class="row"><div
                                        class="col-sm-5"><div
                                            class="dataTables_info"
                                            id="tabler_info" role="status"
                                            aria-live="polite">Showing 1 to 10
                                            of 15 entries</div></div><div
                                        class="col-sm-7"><div
                                            class="dataTables_paginate
                                            paging_simple_numbers"
                                            id="tabler_paginate"><ul
                                                class="pagination"><li
                                                    class="paginate_button
                                                    previous disabled"
                                                    id="tabler_previous"><a
                                                        href="#"
                                                        aria-controls="tabler"
                                                        data-dt-idx="0"
                                                        tabindex="0">Previous</a></li><li
                                                    class="paginate_button
                                                    active"><a href="#"
                                                        aria-controls="tabler"
                                                        data-dt-idx="1"
                                                        tabindex="0">1</a></li><li
                                                    class="paginate_button "><a
                                                        href="#"
                                                        aria-controls="tabler"
                                                        data-dt-idx="2"
                                                        tabindex="0">2</a></li><li
                                                    class="paginate_button next"
                                                    id="tabler_next"><a href="#"
                                                        aria-controls="tabler"
                                                        data-dt-idx="3"
                                                        tabindex="0">Next</a></li></ul></div></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>