<section class=" ">
  <div class="container py-1  ">
    <div class="row overflow-auto d-flex justify-content-center align-items-center h-100">
      <div class=" col-md-9 col-lg-11 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex align-items-center text-black">
              <div class="col flex-shrink-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
              </div>
              <div class="col flex-grow-1 ms-3">
                <h3 class="d-flex justify-content-center rounded-3 p-2 mb-2" style="background-color:#eae4e4">
                  Name : {{agent_arr[6]}}</h3>
                <p class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color:#eae4e4">E-mail : <b>
                    {{agent_arr[1]}}</b></p>
                <p class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color:#eae4e4">UPI id :
                  {{this.wal[6]}}</p>
                <p class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color:#eae4e4">Acount NO :
                  {{this.wal[0]}}</p>
                <p class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color:#eae4e4">IFSC Code :
                  {{this.wal[2]}}</p>
                <div class="d-flex justify-content-evenly rounded-3 p-2 mb-2" style="background-color:#eae4e4">
                  <div>
                    <p class="small text-muted mb-1">Balance</p>
                    <p class="mb-0">{{agent_arr[0]}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Total Win</p>
                    <p class="mb-0">{{agent_arr[4]}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Total Loss</p>
                    <p class="mb-0">{{agent_arr[3]}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Total Bet</p>
                    <p class="mb-0">{{agent_arr[2]}}</p>
                  </div>
                </div>
                <!-- <div class="d-flex pt-1">
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                  <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <hr>
  <div class="row d-flex justify-content-evenly tables">

    <div class="col-lg-5 col details card rounded-3 p-2 mx-1" style="background-color: #f1f1f1">
      <h4>
        Total Withdraw requests:
      </h4>
      <table class="table">
        <thead>
          <tr class="tablehead">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>12/03/2021</td>
            <td>12:30</td>
            <td>3400</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>12/03/2021</td>
            <td>9:56</td>
            <td>1000</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>12/03/2021</td>
            <td>8:09</td>
            <td>2300</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="vertical-line"></div> -->
    <div class="col-lg-5 col details card justify-content-center rounded-3 p-2 mx-1" style="background-color: #f1f1f1">
      <h4>
        Total Amount Added:
      </h4>
      <table class="table">
        <thead>
          <tr class="tablehead">
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>12/03/2021</td>
            <td>12:30</td>
            <td>3400</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>12/03/2021</td>
            <td>9:56</td>
            <td>1000</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>12/03/2021</td>
            <td>8:09</td>
            <td>2300</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>