<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="col-sm-7"> Wallet
						</h4>

						<div id="Totalbet" class="col-sm-5 text-right popo">Total Amount Requested <span>21453</span>
						</div>

						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<div id="tabler_wrapper" class="dataTables_wrapper form-inline
								dt-bootstrap no-footer">
								<div class="row">
									<div class="col-sm-6">
										<div class="dataTables_length" id="tabler_length"><label>Show <select
													name="tabler_length" aria-controls="tabler" class="form-control
													input-sm">
													<option value="10">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option>
												</select>
												entries</label></div>
									</div>
									<div class="col-sm-6">
										<div id="tabler_filter" class="dataTables_filter"><label>Search:
												<input type="search" class="form-control input-sm" placeholder=""
													aria-controls="tabler"></label></div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-bordered datatable
											table-striped dataTable no-footer" id="tabler" role="grid" aria-describedby="tabler_info"
											style="width: 1075px;">
											<thead>
												<tr role="row">
													<td class="sorting_asc" tabindex="0" aria-controls="tabler"
														rowspan="1" colspan="1" aria-sort="ascending" aria-label="Id: activate to sort column
														descending" style="width: 14.2px;">Id</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1"
														aria-label="Username: activate to sort column ascending"
														style="width: 71.2px;">User ID</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1" aria-label="Name: activate to sort column ascending"
														style="width:
														52.2px;">UPI ID</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1"
														aria-label="Credits: activate to sort column ascending"
														style="width: 45.2px;">Mobile No</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1"
														aria-label="Total Bet: activate to sort column ascending"
														style="width: 55.2px;">IFSC code</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1"
														aria-label="Total Win: activate to sort column ascending"
														style="width: 58.2px;">Account No</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1"
														aria-label="Casino Profit: activate to sort column ascending"
														style="width: 79.2px;">Amount Withdrawal Requested</td>
													<td class="sorting" tabindex="0" aria-controls="tabler" rowspan="1"
														colspan="1"
														aria-label="Actions: activate to sort column ascending"
														style="width: 152px;">Actions</td>
												</tr>
											</thead>
											<tbody>
												<tr role="row" class="even" *ngFor="let user of wallet_arr " >
													<td class="sorting_1"> {{wallet_arr['ifsc_Code']}} </td>
													<td><a href="">sbfbgfgbx<i class="fa fa-eye"></i></a></td>
													<td>xbfx fx x</td>
													<td>xbxf bxx</td>
													<td>fgbxv x</td>
													<td>x c xfvcv</td>
													<td>x vx xfvc</td>
													<!-- <td class="sorting_1"> {{user['id']}} </td> -->
													<!-- <td><a href="">{{user['User_ID']}}<i class="fa fa-eye"></i></a></td>
													<td>{{user['UPI_ID']}}</td>
													<td>{{user['Mobile_No']}}</td>
													<td>{{user['IFSC_code']}}</td>
													<td>{{user['Account_No']}}</td>
													<td>{{user['Amount']}}</td> -->
													<td>
														<div class="btn-group">
															<a href="" class="btn btn-info
                                                                btn-sm">Edit</a>

															<a href="agent" class="btn
                                                                btn-default btn-sm" title="Player History"><i class="fa
                                                                    fa-history"></i></a>

															<a href="" class="btn
                                                                btn-success btn-sm" title="Dustbin"><i
																	class="fa fa-ban"></i></a>
														</div>

													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-5">
										<div class="dataTables_info" id="tabler_info" role="status" aria-live="polite">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>