<div class="card-group">
    <div class="card" style="margin-left:10px ;">
      <div class="card-body">
        <h3 class="card-title">High</h3>
        <br>
        
        <p class="card-text">Enter Custom Number
        <input type="text" name="hValue" id="" placeholder="Enter number">
    </p>
        <p class="card-text">Number Of players : 1</p>
        <p class="card-text">Time Remaining : 00</p>

        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <input  [routerLink]="['/members']" type="button" value="View Members" style="margin:5px;">

    </div>
    <div class="card" style="margin-left:10px ;">
      <div class="card-body">
        <h3 class="card-title">Medium</h3>
        <br>
        <p class="card-text">Enter Custom Number
            <input type="text" name="hValue" id="" placeholder="Enter number">
        </p>
        <p class="card-text">Number Of players : 1</p>
        <p class="card-text">Time Remaining : 00</p>

        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <input [routerLink]="['/members']" type="button" value="View Members" style="margin:5px;">

    </div>
    <div class="card" style="margin-left:10px ;">
      <div class="card-body">
        <h3 class="card-title">Low</h3>
        <br>
        <p class="card-text">Enter Custom Number
            <input type="text" name="hValue" id="" placeholder="Enter number">
        </p>
        <p class="card-text">Number Of players : 1</p>

        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        
      </div>
      <input [routerLink]="['/members']" type="button" value="View Members" style="margin:5px;">
    </div>
  </div>

  <div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">

						Players

						<a href="add" class="btn btn-warning pull-right">Add new Distributor</a>

						<div class="clearfix"></div>

					</div>
					<div class="panel-body">
						<div class="table-responsive">

							<div id="tabler_wrapper" class="dataTables_wrapper form-inline
								dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div
											class="dataTables_length" id="tabler_length"><label>Show <select
													name="tabler_length" aria-controls="tabler" class="form-control
													input-sm"><option value="10">10</option><option value="25">25</option><option
														value="50">50</option><option value="100">100</option></select>
												entries</label></div></div><div class="col-sm-6"><div
											id="tabler_filter" class="dataTables_filter"><label>Search:
												<input type="search" class="form-control input-sm" placeholder=""
													aria-controls="tabler"></label></div></div></div><div class="row"><div
										class="col-sm-12"><table class="table table-bordered datatable
											table-striped dataTable no-footer" id="tabler" role="grid"
											aria-describedby="tabler_info" style="width: 1075px;">
											<thead>
												<tr role="row"><td class="sorting_asc" tabindex="0"
														aria-controls="tabler" rowspan="1" colspan="1"
														aria-sort="ascending" aria-label="Id: activate to sort column
														descending" style="width: 14.2px;">Id</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Username: activate to sort column ascending"
														style="width: 71.2px;">Username</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Name: activate to sort column ascending" style="width:
														52.2px;">Name</td><td class="sorting" tabindex="0"
														aria-controls="tabler" rowspan="1" colspan="1" aria-label="Sub
														Distributor: activate to sort column ascending" style="width:
														93.2px;">Sub Distributor</td><td class="sorting" tabindex="0"
														aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Distributor: activate to sort column ascending"
														style="width: 67.2px;">Distributor</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Credits: activate to sort column ascending"
														style="width: 45.2px;">Credits</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Total Bet: activate to sort column ascending"
														style="width: 55.2px;">Total Bet</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Total Win: activate to sort column ascending"
														style="width: 58.2px;">Total Win</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Casino Profit: activate to sort column ascending"
														style="width: 79.2px;">Casino Profit</td><td class="sorting"
														tabindex="0" aria-controls="tabler" rowspan="1" colspan="1"
														aria-label="Actions: activate to sort column ascending"
														style="width: 152px;">Actions</td></tr>
											</thead>
											<tbody>
											<tr role="row" class="even">

													<td class="sorting_1">4508</td>
													<td><a href="">Sunil5050 <i
																class="fa fa-eye"></i></a></td>
													<td>Sunil5050</td>
													<td>
														Sai2
													</td>
													<td>Shree</td>
													<td>0.00</td>
													<td>131890.00</td>
													<td>126090.00</td>
													<td>5800</td>
													<td>
														<div class="btn-group">
															<a href="http://goldstar.fun/pmb/edit/4508" class="btn btn-info
																btn-sm">Edit</a>
															
															<a href="http://goldstar.fun/player_history/4508" class="btn
																btn-default btn-sm" title="Player History"><i class="fa
																	fa-history"></i></a>

															<a href="http://goldstar.fun/banuser/4508/1" class="btn
																btn-success btn-sm" title="Ban User"><i class="fa fa-ban"></i></a>
														</div>

													</td>
                          <td>
                            <select name="dog-names" id="dog-names" style="height:30px; font-size: 10px;">
                             
                              <option value="auto">Auto</option>

                              <option value="mid">Medium</option>
                              
                              
                              <option value="high">High</option>
                              
                              
                              <option value="low">Low</option>
                              
                              
                            </select>
                          </td>
												</tr></tbody>
										</table></div></div><div class="row"><div class="col-sm-5"><div
											class="dataTables_info" id="tabler_info" role="status"
											aria-live="polite"></div></div></div></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>